<div id="<%= dom_id comment %>">
  <%= comment.content %>
  - <%= time_tag comment.created_at, "data-local": "time-ago" %>
  <div style="display: inline-block; margin-left: 10px;">
    <%= button_to "Delete", post_comment_path(comment.post, comment),
      method: :delete, class: "btn-danger" %>
  </div>
</div>